#Containerprimario {
    background-size: cover;
    background-position: center;
} 
.traco {
    border-top: 1px solid #000000;
    width: 17%;
}
.Icon {
    position: relative;
    left: 20rem;
    top: 7rem;
}   