@media (max-width: 900px) {
    header {
        display: none;
    }
    #Containerprimario {
        background-position-x: -35rem;
    }
    #SessaoPrimaria {
        height: 100vh;
    }
    .mobilenone {
        display: none;
    }
    #ServicoSessao {
        flex-direction: column;
    }
    .mobiletexto {
        display: block;
    } 
    #Containerhistoria {
        padding: 3rem 0px !important
    }
    #mobiletexto {
        display: block;
    }
}
@media (max-width: 900px)  {
    #mobilecard {
        display: none !important;
    }
    #Footer {
        flex-direction: column;
        gap: .8rem;
    }
    #email {
        font-size: .9rem;
    }
    #mobilefooter {
        display: none;
    }
    .desktopfooter {
        display: block;
    }
}